@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, system-ui, "Helvetica Neue", "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// add the code bellow
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

img,
video {
  max-width: initial;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  min-width: 10px;
  min-height: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  background-clip: content-box;
  border: 3px solid transparent;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::view-transition-old(root) {
  animation: 1000ms ease both wxadFadeOut;
  transform-origin: 50% 35px;
  mix-blend-mode: initial;
}

@property --wipe-in {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --wipe-out {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

::view-transition-new(root) {
  animation: 1100ms ease both wipe-in 50ms;
  -webkit-mask: linear-gradient(
    90deg,
    transparent calc(var(--wipe-in) - 40%),
    black var(--wipe-in),
    black 100%
  );
  mix-blend-mode: initial;
}

@keyframes wxadFadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes wipe-out {
  from {
    --wipe-out: 0%;
  }
  to {
    --wipe-out: 150%;
  }
}

@keyframes wipe-in {
  from {
    --wipe-in: 100%;
  }
  to {
    --wipe-in: 0%;
  }
}
